{% extends "base_dashboard.html" %}

{% block content %}

<div class="container bg-gray-300 mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
        <div class="leading-loose">
            <form method="post" enctype="multipart/form-data"  class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
                {% csrf_token %}
                <p class="text-gray-800 font-medium">Sporcu Kaydet</p>
                <div class="mt-2">
                    {{ form.resim.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Resim</label>
                   {{ form.resim }}           
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                    {{ form.adi.errors }}
                    <label class="block text-sm text-gray-00" for="cus_name">Adı</label>
                     {{ form.adi }}             
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                    {{ form.soyadi.errors }}
                    <label class="block text-sm text-gray-00 " for="cus_name">Soyadı</label>
                     {{ form.soyadi }}             
                </div>
                <div class="mt-2">
                    {{ form.dogum_tarihi.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Doğum Tarihi</label>
                   {{ form.dogum_tarihi }}           
                </div>
                <div class="mt-2">
                    
                    {{ form.okul.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Okulu</label>
                   {{ form.okul }}           
                </div>
                <div class="mt-2">
                    {{ form.telefon.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Telefon</label>
                   {{ form.telefon }}           
                </div>
                <div class="mt-2">
                    {{ form.veli.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Veli Adı Soyadı</label>
                   {{ form.veli }}           
                </div>
                <div class="mt-2">
                    {{ form.veli_telefon.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Veli Telefon</label>
                   {{ form.veli_telefon }}           
                </div> 
                <div class="mt-2">
                    {{ form.veli_eposta.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Veli E posta</label>
                   {{ form.veli_eposta }}           
                </div>       
                <div class="mt-2">
                    {{ form.takim.errors }}
                    <label class="block text-sm text-gray-600" for="cus_email">Takımı</label>
                   {{ form.takim }}           
                </div>          
                <div class="mt-4">
                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Kaydet</button>
                </div>
     
            </form>
        </div>
    </div>
</div>



{% endblock content %}