<section class=" "
    style=" background-image: url('media/bg_black.jpg'); background-repeat: no-repeat; background-size:cover; ">

    <div class="text-container">
        <div>#disiplin</div>
        <div>#takım ruhu</div>
        <div>#rekabet</div>
        <div>#başarı</div>
        <div>#çalışma</div>
        <div>#gelecek</div>
        <div>#sağlık</div>
        <div>#antrenman</div>
    </div>
    <div class="absolute inset-0 flex justify-center items-center z-10">
        <img class="h-3/6 opacity-40 rounded-3xl animate-pulse " src="media/logo.jpeg" alt="">

    </div>


</section>