{% extends "_base_yeni.html" %}

{% block content %}

<div class="stats shadow">
  <div class="stat p-2 m-0">
    <div class="stat-figure text-secondary">
<img class="h-8"
                                    src="https://img.icons8.com/?size=100&id=108335&format=png&color=000000" alt="">
    </div>
    <div class="stat-title">Takım Sayısı</div>
    <div class="stat-value">{{takimlar}}</div>
    <div class="stat-desc"></div>
  </div>

  <div class="stat p-2 m-0">
    <div class="stat-figure text-secondary">
  <img class="h-8"
                                    src="https://img.icons8.com/?size=100&id=cfNKLQSzR0jy&format=png&color=000000"
                                    alt="">
    </div>
    <div class="stat-title">Sporcu Sayısı</div>
    <div class="stat-value">{{sporcular}}</div>
    <div class="stat-desc"></div>
  </div>

  <div class="stat p-2 m-0">
    <div class="stat-figure text-secondary">
                 <img class="size-8"
            src="https://img.icons8.com/?size=100&id=WSjGB0O5Cs0c&format=png&color=000000" alt="">
    </div>
    <div class="stat-title">Ödemeler</div>
    <div class="stat-value">{{odemeler}}</div>
    <div class="stat-desc">{{ay_adi.1}}</div>
  </div>
</div>
      
{% endblock content %}