{% extends "_base_kayit.html" %}

{% block style %}

    
<link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

{% endblock style %}
  

{% block content %}


<div class=" ">




  <!--Profile Tabs-->
  <div class="w-full md:w-1/2">
    <!--Top user 1-->
    <div class="rounded rounded-t-lg overflow-hidden bg-gray-200 shadow ">
      <div class="h-24 w-full overflow-hidden bg-gray-400"></div>
      <div class="flex justify-center -mt-8">
        <img {% if sporcu.resim %}src="{{sporcu.resim.url}}" {% else %}src="/media/logo.jpeg" {% endif %} alt=""
          class="rounded-full h-24 w-24 border-solid border-white border-2 -mt-3">
      </div>
      <div class="text-center bg-gray-200 px-3 pb-6 pt-2">
        <h3 class="text-black text-sm bold font-sans">{{sporcu.adi}} {{sporcu.soyadi}}</h3>
        <p class="mt-2 font-sans font-light text-grey-700">{{sporcu.dogum_tarihi|date:"d.m.Y" }}</p>
        <p class="mt-2 rounded font-sans font-light bg-{{sporcu.takim.renk}}-400 text-grey-700">{{sporcu.takim.adi}}</p>
        <p class="mt-2 rounded font-sans font-light  text-grey-700">Okul-{{sporcu.okul|title}}</p>
      </div>
      <div class="flex justify-center pb-3 text-grey-dark">
        <div class="text-center mr-3 border-r pr-3">

          <h2>Veli</h2>
        </div>
      </div>
      <div class="flex justify-center pb-3 text-grey-dark">
        <div class="text-center mr-3 border-r pr-3">

          <span>{{sporcu.veli|title}}</span>
        </div>
        <div class="text-center">
          <h2>{{sporcu.veli_telefon}}</h2>
          <span>{{sporcu.veli_eposta}}</span>



        </div>





      </div>

      <div class="flex justify-center pb-3 text-grey-dark"></div>
      {% include 'partials/modal_sporcu.html' %}

   


    </div>


<div class="grid grid-cols-1 md:grid-cols-2  ">
    <div class="card  bg-base-300 shadow  card-xs m-2 ">
      <div class="card-body">
        <h2 class="card-title">Ödeme Bilgileri</h2>
                  <ul class="list bg-base-100 rounded-box shadow-md">
                <li class="list-row">
                  
                  <div>
                    {% if odenmeyen %}
                    <div class="uppercase ">{{odenmeyen}}</div>
                    <div class="text-xs font-semibold opacity-60">aidatınız ödenmemiş görünüyor.
                      <br><span class="font-light"> Ödeme yaptıysanız bu uyarıyı dikkate almayınız.</span></div>
                    {% else %}
                    <div>Ödenmemiş aidatınız bulunmamaktadır.</div>
                    <div class="text-xs font-semibold opacity-60">Düzenli ödemeleriniz için teşekkür ederiz.
                    </div>

                    {% endif %}
                  </div>

                </li>
                
                <li class="list-row">
                
                  <div>
                    <div>Son ödenen aidat: <span class="uppercase font-semibold">{{son_odeme.0.get_ay_display}}</span></div>
                    <div class="text-xs  font-semibold opacity-60">(Ödeme Tarihi: {{son_odeme.0.created}})</div>
                  </div>


                </li>
                

                
              </ul>

      </div>
    </div>
    <div class="card  bg-gray-200 shadow  card-xs mt-2 ">
      <div class="card-body">
        <h2 class="card-title">Kişisel Bilgiler</h2>
        <p>Kişisel Bilgiler</p>
        <div class="justify-end card-actions">
          <button class="bg-gray-500 hover:bg-gray-700 text-white  py-2 px-6 rounded">Ayrıntılar</button>
        </div>
      </div>
    </div>
    <div class="card  bg-gray-200 shadow  card-xs mt-2 ">
      <div class="card-body">
        <h2 class="card-title">Son Yarışlar</h2>
        <p>Son yarışlar</p>
        <div class="justify-end card-actions">
          <button class="bg-gray-500 hover:bg-gray-700 text-white  py-2 px-6 rounded">Ayrıntılar</button>
        </div>
      </div>
    </div>
</div>



  </div>






</div>




</div>
<!--/Profile Tabs-->




</div>




<script>

  {% if kayit %}
  alert('{{sporcu.adi|title}}' + " aramıza hoşgeldin")
  {% endif %}

  document.getElementById('London').style.display = "block";
  evt.currentTarget.className += " active";

  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {

      tablinks[i].classList.remove('bg-gray-300');
    }

    document.getElementById(cityName).style.display = "block";


    document.getElementById('btn' + cityName).classList.add('bg-gray-300');
    evt.currentTarget.className += " active";
  }
</script>

{% endblock content %}