{% extends "_base_yeni.html" %}

{% block content %}


   
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>

        <th>Adi Soyadi</th>
        <th>Takimi</th>
        <th>Dogum Yili</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
       {% for sporcu in sporcular %}
      <tr>

        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
           <img 
                                        {% if sporcu.resim %}
                                        src="{{sporcu.resim.url}}"
                                        {% else %}
                                        src="https://img.icons8.com/?size=100&id=95101&format=png&color=000000"
                                        {% endif %}
                                              class="shadow-lg overflow-hidden rounded-full w-12 h-12 mx-auto">
              </div>
            </div>
            <div>
              <div class="font-bold">{{sporcu.adi|title}} {{sporcu.soyadi|title}} </div>
              <div class="text-sm opacity-50">Velisi: {{sporcu.veli|title}}</div>
            </div>
          </div>
        </td>
        <td>
          {{sporcu.takim|default_if_none:"--"}} Takim
          <br />
          <span class="badge badge-ghost badge-sm"></span>
        </td>
        <td>{{sporcu.dogum_tarihi|date:"d.m.Y"}}</td>
        <th>
            <a href="{% url 'sporcudetay' sporcu.s_uuid %}">
          <button class="btn btn-ghost btn-xs">Detay</button></a>
        </th>
      </tr>
 {% endfor %}
  </table>
</div>
      
{% endblock content %}