{% extends "_base_yeni.html" %}

{% block style %}


{% endblock style %}


{% block content %}




<!--Profile Tabs-->
<div class="w-full md:w-1/2 ">
  <!--Top user 1-->
  <div class="rounded mt-12 rounded-lg overflow-hidden border border-gray-300 shadow-lg   ">
    <div class="h-16  shadow-xl w-full overflow-hidden bg-{{sporcu.takim.renk}}-500"></div>
    <div class="flex justify-center -mt-8">
      <img {% if sporcu.resim %}src="{{sporcu.resim.url}}" {% else %}src="/media/logo.jpeg" {% endif %} alt=""
        class="rounded-full h-24 w-24 border-solid border-{{sporcu.takim.renk}}-400 border-5 shadow-xl  -mt-4">
    </div>
    <div class="text-center   px-3 pb-6 py-2">
      <h3 class="text-gray-600  font-bold font-sans">{{sporcu.adi}} {{sporcu.soyadi}}</h3>

      <p class="mt-2 py-2 rounded font-sans font-bold text-{{sporcu.takim.renk}}-200 bg-{{sporcu.takim.renk}}-500 ">
        {{sporcu.takim.adi}} Takım</p>

    </div>
  </div>
<div class="tabs tabs-border">


{% for kategori in kisisel_bilgiler %}
   <input type="radio" name="my_tabs_2" class="tab" aria-label="{{kategori.kategori|title}}"
   
   {% if forloop.counter == 1 %}
     checked="checked" 
   {% endif %}
    
  />
  <div class="tab-content border-base-300 bg-base-100 p-4">
    <div class="overflow-x-auto rounded-box bg-base-100">
  <table class="table">
    <!-- head -->

    <tbody>
      <!-- row 1 -->
       
       {% for soru in kategori.sorular %}
          <tr>
        <td> {{soru.soru}}</td>
        <td>{{soru.bilgi}}</td>
      </tr>
       {% endfor %}
        


    </tbody>
  </table>
</div>
</div>
{% endfor %}
  

</div>


</div>
{% endblock content %}