{% extends "base_dashboard.html" %}

{% block content %}


<div class="flex flex-col">




    <!-- Takım bilgileri -->
    <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">
        {% for takim in takimlar %}
        <div
            class="shadow grid grid-cols-1 bg-{{takim.renk}}-500  border-l-8 hover:bg-{{takim.renk}}-600 border-{{takim.renk}}-700 lg:mx-2 mb-2 p-2 md:w-1/4 ">
            <div class="lg:p-4 flex flex-col">
                <a href="" class="no-underline text-white text-2xl">
                    {{takim.adi|title}} Takım
                </a>
                <a href="" class="no-underline text-white text-lg">
                    Sporcu: {{takim.number_of_sporcu}}
                </a>
            </div>
            <div class="rounded  overflow-hidden  w-full ">

                {% for yas in takim_yas %}
                {% if yas.takim__adi == takim.adi %}
                <div class="grid grid-cols-1 justify-center text-white">
                    <div class="text-center rounded-t-lg    bg-{{takim.renk}}-800 border-">
                        <h2>{{yas.dogum_tarihi__year}}</h2>

                    </div>

                    <div class="p-2 bg-{{takim.renk}}-700  shadow-lg mb-1">

                        <ul class="list-disc w-full p-0  m-0">
                            {% for sporcu in sporcular %}
                            {% if sporcu.takim__adi == takim.adi and sporcu.dogum_tarihi__year == yas.dogum_tarihi__year%}
                            <li class="ml-3  text-{{takim.renk}}-400">
                                <a href="{% url 'sporcudetay' sporcu.s_uuid %}">
                                    <p class=" mx-0 font-sans text-s text-white-medium">{{sporcu.adi|title}}
                                        {{sporcu.soyadi|title}}</p>
                                </a>

                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

        </div>


        {% endfor %}


    </div>

    <!-- /Takım bilgileri Ends Here -->



</div>

{% endblock content %}