{% extends "_base_yeni.html" %}

{% block content %}

<div class="grid grid-col  md:grid-cols-2 lg:grid-cols-3  ">
 {% for takim in takimlar %}
<div class="card mx-0 mt-2 md:m-2 bg-{{takim.renk}}-500 bg-opacity-10 shadow-sm">
  <div class="card-body">
    <div class="flex justify-between">
      <h2 class="text-2xl font-bold text-{{takim.renk}}-800">{{takim.adi|title}} </h2>
      <span class="text-xl text-{{takim.renk}}-800">Sporcu: {{takim.number_of_sporcu}}</span>
    </div>
            <div class="rounded  overflow-hidden  w-full ">

                {% for yas in takim_yas %}
                {% if yas.takim__adi == takim.adi %}
                <div class="grid grid-cols-1 justify-center text-white">
                    <div class="text-center mt-2 rounded-t-lg bg-{{takim.renk}}-700 ">
                        <h2 class="text-base-100 font-bold">{{yas.dogum_tarihi__year}}</h2>

                    </div>

                    <div class="p-2 bg-{{takim.renk}}-400  shadow-lg mb-1">

                        <ul class="list-disc w-full p-0  m-0">
                            {% for sporcu in sporcular %}
                            {% if sporcu.takim__adi == takim.adi and sporcu.dogum_tarihi__year == yas.dogum_tarihi__year%}
                            <li class="ml-3 font-semibold text-{{takim.renk}}-900">
                                <a href="{% url 'sporcudetay' sporcu.s_uuid %}">
                                    <p class=" mx-0 font-sans text-monospace">{{sporcu.adi|title}}
                                        {{sporcu.soyadi|title}}</p>
                                </a>

                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>

  </div>
</div>

  {% endfor %}
{% endblock content %}