
          <!--/Modal eklemeler Tabs-->
          
          <div class="flex flex-1 flex-col mt-6 md:flex-row lg:flex-row mx-2">
            <div class="mb-2  border-solid border-gray-300  rounded border shadow-sm w-full ">
        
                <div class="p-3">
                    <button data-modal="centeredFormModal" class="modal-trigger bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Takım Ekle
                    </button>
                </div>
        
            </div>
            <div id="centeredFormModal" class="modal-wrapper">
                <div class="overlay close-modal"></div>
                <div class="modal modal-centered">
                    <div class="modal-content shadow-lg p-5">
                        <div class="border-b p-2 pb-3 pt-0 mb-4">
                           <div class="flex justify-between items-center">
                                Takım Ekle
                                <span class="close-modal cursor-pointer px-3 py-1 rounded-full bg-gray-100 hover:bg-gray-200">
                                    <i class="fas fa-times text-gray-700"></i>
                                </span>
                           </div>
                        </div>
                        <div class="w-full max-w-lg">
                            <div class="leading-loose">
                                <form action="{% url 'takimekle' %}" method="post" class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
                                    {% csrf_token %}
                 
                                    <div class="rounded">
                                        {{ form.adi.errors }}
                                        <label class="block text-sm text-gray-00" for="cus_name">Takim Adi</label>
                                         {{ form.adi }}
                                    </div>
                                    <div class="rounded">
                                        {{ form.renk.errors }}
                                        <label class="block text-sm text-gray-00" for="cus_name">Takim Rengi</label>
                                         {{ form.renk }}
                                    </div>
                              
                                    <div class="mt-4">
                                        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Kaydet</button>
                                    </div>
                         
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!--/Modal eklemeler  Tabs-->